
.account{
    margin-top: 5rem;
    margin-bottom: 7rem;
      min-height: 100vh;

}

.account .container {
    display: flex;
    justify-content: center;
    /* align-items: start; */
    flex-wrap: wrap;
    font-family: sans-serif;
    gap: 2rem;
}

.account .tabs {
    width: 20rem;
    margin: auto;
    margin-left: 15rem;
}

@media screen and (max-width:1669px) {
    .account .tabs{
            margin-left: 0;

    }
}

.span{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.account .tab-button {
    display: block;
    font-size: 1.3rem;
    padding: 15px;
    background: none;
    border: none;
    text-align: left;
    border: 1px solid #d6d6d6;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
}

.account .tab-button:hover {
    background-color: #f0f0f0;
}

.account .tab-button.active {
    background-color: var(--color-primary);
    font-weight: bold;
}

.account .tab-content {
    padding: 20px;
    flex-grow: 1;
}

.account .content {
    display: none;
}

.account .content.active {
    display: block;
}

.btn-tracking{
    padding: 1rem 3rem;
    background-color: #252731;
    color: white;
    border-radius: 0.4rem;
    font-weight: bold;
    cursor: pointer;
}